
.container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 50px;
text-align: center;

}

.school {
background-color: yellow;
height: 400px;
position: relative;
top: 200px;
background-image: url(https://i.ytimg.com/vi/orxXlAltFQg/maxresdefault.jpg);
background-size: cover;

}

.class {
background-color: red;
height: 250px;
position: relative;
top: 350px;
background-image: url(https://i.ytimg.com/vi/orxXlAltFQg/maxresdefault.jpg);
background-size: cover;

}

.individual {
background-color: green;
height:350px;
position: relative;
top: 250px;
background-image: url(https://i.ytimg.com/vi/orxXlAltFQg/maxresdefault.jpg);
background-size: cover;

}

.text-school {
 position: relative;
 bottom: 50px;
}

.text-class {
 position: relative;
 bottom: 50px;

}

.text-individual {
 position: relative;
 bottom: 50px;

}

.text-reward {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 50px;
}